<!DOCTYPE html>
<!-- Site Design By Dennis Kimble -->
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
<meta name="robots" content="noindex,nofollow">
<title>Island Boy Charters In Beautiful Port Aransas Texas</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
<!-- site custom css and fonts -->
<link href="css/main.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
</head>
<body class="tan-back">
<div class="container-fluid"></div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <a class="navbar-brand" href="#"><img src="assets/img/IBC-logo-mini.png" alt="Island Boy Charters logo is a boy with a fishing rod on an island"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"> <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a> </li>
      <li class="nav-item"> <a class="nav-link" href="port-aransas-bay-fishing-charters.html">Charter Fishing</a> </li>
      <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sightseeing</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="#">Birding</a> <a class="dropdown-item" href="#">Dolphin Watching</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Sunset Cruises</a> </div>
      </li>
      <li class="nav-item"> <a class="nav-link" href="#">More Information</a> </li>
      <li class="nav-item"> <a class="nav-link" href="#">Pricing</a> </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid text-center gold-package-bottom">
  <h1><span class="dek-custom display-3">Island Boy Charters</span><br>
    <span class="display-4">In Beautiful Port Aransas, Texas</span></h1>
</div>
<div class="container-fluid">
  <div class="container planks-bkgrnd-banner about-specialty-container">
    <div class="row no-top-margin justify-content-center gold-package-sides">
      <p class="about">Capt. Pete Arzola - USCG Licenced Charter Captain - 20 Years of Experience</p>
    </div>
    <div class="row no-top-margin justify-content-center gold-package-sides">
      <p class="specialty">Specializing in Redfish, Trout, Black Drum, and Flounder</p>
      <p class="lead"> <a class="btn btn-teal btn-lg" href="#" role="button">Call (361) 813-2714</a> </p>
    </div>
  </div> <!-- container planks-background-banner-->
</div> <!-- end to container-fluid -->